[*.cs]

# CS0675: Bitwise-or operator used on a sign-extended operand
dotnet_diagnostic.CS0675.severity = none

# CS0114: Member hides inherited member; missing override keyword
dotnet_diagnostic.CS0114.severity = none
