<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gertec.exemplosgertec">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gertec_one"
        android:label="GertecOne Java"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon , android:label"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExemploCodigoBarras1.CodigoBarras1" />
        <activity android:name=".ExemploCodigoBarras2.CodigoBarras2" />
        <activity android:name=".ExemploImpressora.Impressora" />
        <activity android:name=".ExemploNFCIdRW.NfcExemplo" />
        <activity android:name=".ExemploNFCId.NfcExemploId"/>
        <activity android:name=".ExemploNFCGedi.NfcExemploGedi"/>
        <activity android:name=".ExemploTEF.Tef"/>
        <activity android:name=".ExemploSAT.SatPages.MenuSat"/>
        <activity android:name=".ExemploSAT.SatPages.Teste"/>
        <activity android:name=".ExemploSAT.SatPages.Rede"/>
        <activity android:name=".ExemploSAT.SatPages.Ativacao"/>
        <activity android:name=".ExemploSAT.SatPages.Associar"/>
        <activity android:name=".ExemploSAT.SatPages.Ferramentas"/>
        <activity android:name=".ExemploSAT.SatPages.Alterar"/>
    </application>

</manifest>